<form [formGroup]="form">
  <label
    >名前
    <input type="text" formControlName="name" />
  </label>
  <label
    >Eメール
    <input type="text" formControlName="email" />
  </label>
  <div [ngSwitch]="type">
    <ng-container *ngSwitchCase="'male'">
      <label
        >好きなスポーツ
        <input type="text" formControlName="likeSports" />
      </label>
    </ng-container>
    <ng-container *ngSwitchCase="'female'">
      <label
        >好きなコスメ
        <input type="text" formControlName="likeCosme" />
      </label>
    </ng-container>
  </div>

  <button [disabled]="form.invalid">submit</button>
</form>

<pre>
  {{ form.value | json }}
</pre>
